.label{
    width: 200px;
    height: 47px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-align: center;

    color: #000000;
}

input{
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 729px;
    height: 47px;

    background: #F7F7F6;
    mix-blend-mode: normal;
    border: 3px solid #A9A99E;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    font-size: 40px;
    padding-left: 15px;
    border-radius: 25px;
}

.error{
    border: 3px solid #FF2030;
    text-decoration: underline;
    color: #FF2030;
}

.position{
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
    margin-top: 80px;
}