footer{
margin-top: auto;
position:absolute;
left:0;
bottom:0;
right:0;
height: 109px;
background: linear-gradient( rgba(196, 196, 196, 0),  #C4C4C4);
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px 25px 0px 0px;
}